h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

#container {
  height: 450px;
  width: 350px;
  background-color: rgb(105, 214, 178);
  position: absolute;
  border: lightslategray solid;
}

#input {
  position: relative;
  height: 50px;
  width: 295px;
  left: 15px;
  font-size: 32px;
  top: 15px;
}

.number {
  position: relative;
  background-color: rgb(170, 158, 212);
  border-style: double;
  border-color: rgb(221, 206, 206);
  border-radius: 50%;
  text-overflow:unset;
  padding: 20px 20px;
  left: 10px;
  top: 50px;
  width: 18px;
  text-align: center;
  border-width: 8px;
  
}

.inline {
  display: inline-block;
  position: relative;
}

#result {
  background-color: lightsalmon;
  font-weight: bold;
}

#del {
  background-color: lightcoral;
  font-weight: bold;
}